!!! 5
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  %head
    %meta{charset: 'utf-8'}
    %meta{http-equiv: 'X-UA-Compatible', content: 'IE=edge,chrome=1'}

    %title #{(title ? title + ' - ' : '')} MkLog.fr - all about web and front-end - Mickael Daniel

    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}

    %link{rel: 'shortcut icon', href: '/favicon.ico'}
    %link{rel: 'apple-touch-icon', href: '/apple-touch-icon.png'}

    %link{rel: 'stylesheet', href: '/css/style.css?v=2'}

    %script{src: '/js/libs/modernizr-1.6.min.js?v=2'}
  %body.white.tiny
    #container
      %header{role: 'banner', class: 'header clearfix'}
        %p.colors
          %a{href: '#/themes/white/', class: 'light'} Light
          %a{href: '#/themes/darky/', class: 'darky'} Darky
        
        %h1.logo
          %a{href: '/'} blog.mklog.fr
          
        %ul.nav
          %li %a{href: '/'} Blog
          %li %a{href: '/'} Code
          %li %a{href: '#/search/', class: 'search'} Search
    
    
      #main.csstransition-please.clearfix{role: 'main'}
        = content

    %footer.footer
      %p
        %a{href: '//blog.mklog.fr'} 
          blog.mklog.fr
        %span.hovereaster ☺
        %span
          Mickael Daniel
          
    %span.wide-content 
      %a.nowide{href: '#/themes/tiny/'} <<
      %a.wide{href: '#/themes/large/'} >>

    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"}
    %script !window.jQuery && document.write(unescape('%3Cscript src="/js/libs/jquery-1.4.4.min.js"%3E%3C/script%3E'))
   
    %script{src: "/js/plugins.js?v=2"}
    %script{src: "/js/script.js?v=2"}
    
    <!--[if lt IE 7 ]> 
    %script{src: "/js/libs/dd_belatedpng.js?v=2"}
    %script  DD_belatedPNG.fix('img, .png_bg');
    <![endif]-->

    :script
      var _gaq = [['_setAccount', 'UA-19447118-1'], ['_trackPageview']];
      (function(d, t) {
      	var g = d.createElement(t),
      	s = d.getElementsByTagName(t)[0];
      	g.async = true;
      	g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      	s.parentNode.insertBefore(g, s);
      })(document, 'script');
</html>